[submodule "pro-vue-admin-core-main"]
	path = pro-vue-admin-core-main
	url = https://github.com/ratha99/pro-vue-admin-core-main.git
[submodule "pro-my-express-cadt"]
	path = pro-my-express-cadt
	url = https://github.com/ratha99/pro-my-express-cadt.git
