services:
  frontend:
    container_name: frontend
    build: 
      context: .
      dockerfile: Dockerfile
  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    container_name: load-balancer
    depends_on:
      - express
    environment:
      - NGINX_SERVER_NAME=localhost
      - EXPRESS_HOST_1=pro-my-express-cadt
      # - EXPRESS_HOST_2=my-express-cadt-2-master-express-2
      # - EXPRESS_HOST_3=my-express-cadt-2-master-express-3
      - EXPRESS_PORT=3000
      - NGINX_MAX_BODY=100M
    ports:
      - 80:80
  express:
    build:
      context: .
      dockerfile: Dockerfile-backend
    volumes:
      - ./pro-my-express-cadt/src:/app/src
      - ./pro-my-express-cadt/index.js:/app/index.js
      - ./pro-my-express-cadt/.env:/app/.env
      - ./pro-my-express-cadt/uploads:/app/uploads
      - ./pro-my-express-cadt/index.html:/app/index.html
    scale: 1
    depends_on:
      - mongodb
      - redis
  mongodb:
    build:
      context: .
      dockerfile: Dockerfile-mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodbdata:/data/db
  redis:
    image: redis:5
    container_name: cadt-redis
    ports:
      - 6379:6379
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:cadt-redis:6379
    ports:
      - "8082:8081"
    depends_on:
      - redis
volumes:
  mongodbdata: